<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.iqqcode.module.animations">

    <application>
        <activity
            android:name=".ModuleAnimationMainActivity"
            android:exported="true" />
    </application>

</manifest>