<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.iqqcode.app2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.01_IntentBasic">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--ACTION启动配置-->
            <intent-filter>
                <action android:name="top.iqqcode.intent.action.IQQCODE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--URI启动配置-->
            <intent-filter>
                <data
                    android:host="top.iqqcode.app2"
                    android:path="/iqqcode"
                    android:scheme="iqqcode" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>
    </application>

</manifest>